
/*........................................................DIV 1...........................................................*/

.page{
    max-width: 1650px;
    margin-right: auto;
    margin-left: auto;
}

.principal-bg{
    background-color: #cfe6e6;
}

.div-2{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.div-heart{
    display: flex;
    align-items: center;
    gap: 7px;
}

.mobile{
    display: none;
}

.image-1{
    width: 90%;
}

.div-image{
    text-align: center;
    align-self: center;
}



/* barra de navegacion ------------------------------------- */

.h2{
    color: #DB2E86;
    font-weight: 700;
    font-family: Work Sans;
}

.navbar{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    font-weight: 700;
    text-align: center;
}

.nv{
    color: #DB2E86;
    text-decoration: none;
    font-family: Work Sans;
    text-align: center;
    padding: 8%;
    width: 100%;
    display: block;
}

.nav-link:hover {
    border-bottom: solid;
    border-bottom-color: #DB2E86;
}

.btn-pink{
    padding: 8px 15px 8px 15px;
    font-family: Work Sans;
    font-size: 110%;
    color: #ffffff;
    background:#DB2E86;
    font-weight: 600;
    text-decoration: none;

}

.margin{
    margin-bottom: 10%;
}
  
.btn-pink:hover{
    color: #DB2E86;
    background-color: transparent;
}

.btn-white{
    padding: 8px 15px 8px 15px;
    font-family: Work Sans;
    font-size: 110%;
    color: #DB2E86;
    background:#ffffff;
    font-weight: 600;
    text-decoration: none;

}

.tarjetas2{
    display: none;
}
  
.btn-white:hover{
    color: #DB2E86;
    background-color: transparent;
}

.me-33{
    margin-right: 5%;
}

/* TITULOS ------------------------------------------------- */

h5{
    color: #DB2E86;
    font-weight: 1000;
    font-size: 150%;
    font-family: Work Sans;
    display: inline;
}


.mini-title{
    display: block;
}

.titles{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.2fr;
    justify-content: center; 
    width: 100%;   
}

.principal-title{
    display: inline;
    font-weight: 800;
    font-size: 320%;
    font-family: 'Chivo', sans-serif;
}

.pinky{
    color: #DB2E86;
}


.middle-logo{
    display: flex;
    height: 200px;
    margin: auto;
    position: relative;
    top: -100px;
}

.subtitle-p{
    font-size: 120%; 
    line-height: normal;
}

.c{
    margin-bottom: 12%;
}

.mini-heart{
    width: 20px; 
    height: 20px; 
    display: inline; 
}

.menu-btn{
    padding: 15px 40px 15px 40px ;
    border-radius: 28px;
}






/*........................................................INFORMACION...........................................................*/



.tarjetas{
    display: none;
}


.div-info{
    background-image: url("images/fondo-ponque.jpg");  
}

.grid-info{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.2fr;
    justify-content: center;
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
     
}

.green{
    font-weight: 600;
    color: #ACD1D1;
}

.green-p{
    color: #DB2E86;
    font-weight: 700;
    font-size: 90%;
    text-align: left;
}

.mini-img-woman{
    width: 100%;
}

.resenas-grid{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.green-2{
    color: #08BFBF;
    font-weight: 700;
}

h1{
    display: inline;
}

.mini-info{
    width: 80%;
    text-align: justify;
}


.bg-cg{
    background-color: #FFFFFF;
}

.carousel{
    display: none;
}


.carousel-item{
    text-align: -webkit-center;
}

.mini-info-carousel{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    text-align: justify;
}

.carousel-control-next-icon1 {
    background-image: url("images/flecha-derecha.png");
    height: 25px;
    width: 15px;
    background-size: 100% 100%;
}

.carousel-control-prev-icon1 {
    background-image: url("images/flecha-izquierda.png");
    height: 25px;
    width: 15px;
    background-size: 100% 100%;
}


.grid-info{
    position: relative;
    top: -35px;
}


.carousel-indicators [data-bs-target] {
    background-color: #26b07b;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}






/*........................................................RESEÑAS..........................................................*/

.resena-title{
    font-weight: 600; 
    color: #421142;
    font-size: 1.7rem;
}

.div-creditos{
    background: rgb(236,161,212);
    background: linear-gradient(138deg, rgba(236,161,212,1) 15%, rgba(241,210,237,1) 51%, rgba(207,230,230,1) 74%);    
    padding-top: 2%;
}

.div-resenas{
    background: rgb(236,161,212);
background: linear-gradient(138deg, rgba(236,161,212,1) 15%, rgba(241,210,237,1) 51%, rgba(207,230,230,1) 74%);
    height: 550px;
}

.pastel-utencilios{
    width: 50%;
    position: absolute;
    display: none;
    
}

.mini-resenas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.texto-2{
    color: #65294d;
    letter-spacing: 1px;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    place-self: center;
    gap: 3rem;
}

.pink{
    color: #DB2E86;
    font-weight: 700;
}

.names{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}


.izquierda{
    place-self: flex-start;
}

.derecha{
    place-self: flex-end;
}


.espacio{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.card{
    width: 455px; 
    height: 15rem;
    text-align: start;
    display: grid;
    grid-template-columns: 1.2fr 4fr;

}


.card-subtitle{
    font-weight: 600;
    color: #b5379c;
}

.woman{
    width: 4rem;
    justify-self: center;
}


.carousel3{
    display: none;
}




/* -------------------------------------------------GALERIA---------------------------------------- */


.img-galery{
    width: 96%;
    padding-bottom: 4%;
    
}

.div-galery{
    padding: 8%;
}


.galery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    align-items: self-start;
    text-align: center;
    padding-bottom: 10%;
}

.ubicacion{
    color: rgb(59, 19, 59);
    display: inline;
}

.sub-2{
    text-align: center;
}

.galeria{
    font-size: 2rem;
    font-weight: 300;
    color: #5e2b51;
}

.div-end{
    background-color:#8dd3d5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.creditos{
    margin: 0px;
    padding: 2%;
    font-weight: 600; 
    text-align: center;
    color: #803364;
}

    




/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| RESPONSIVE ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/


@media (max-width: 1200px){ 

.green-p{
    font-size: 80%;
}    

.green{
    font-size: 80%;
}    

h1{
    font-size: 160%;
}

.text-infos{
    font-size: 80%;
}

.mini-info{
    width: 85%;
    text-align: justify;
}

.texto{
    font-size: 95%;
}

.woman{
    width: 3rem;
}

.card {
    height: auto;
    grid-template-columns: 1fr 4fr;
}

.div-resenas{
    height: 470px;
}

.principal-title{
    font-size: 285%;
}

.middle-logo{
    height: 140px;
    top: -70px;
}

.galeria{
    font-size: 1.5rem;
}

}


@media (min-width: 1600px){

.mini-info{
    width: 70%;
}

.card{
    width: 600px;
    height: 17rem;
}

.subtitle-p{
    font-size: 150%;
}

.link-navbar{
    font-size: 150%;
}

.principal-title{
    font-size: 380%;
}


.card-title{
    font-size: 160%;
}


.texto{
    font-size: 120%;
}

}



@media (max-width: 1050px){

.menu-btn {
    padding: 10px 30px 10px 30px;
    border-radius: 28px;
}

.navbar{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.texto{
    font-size: 90%;
}

.card-title{
    font-size: 120%;
}

.card-subtitle{
    font-size: 90%;
}

.card{
    width: 100%;
}

.espacio{
    grid-template-columns: 0.3fr 6fr 0.3fr;
}

.principal-title{
    font-size: 210%;
}

.subtitle-p{
    font-size: 100%;
}

.galeria{
    font-size: 1.2rem;
}

}




@media (max-width: 769px){

.nav-link:hover {
    border-bottom: none;
}    

.principal-bg{
    background: rgb(207,230,230);
background: linear-gradient(168deg, rgba(207,230,230,1) 15%, rgba(241,210,237,1) 51%, rgba(236,161,212,1) 100%);
}

.mobile{
    place-content: center;
}    


.logo-1{
    width: 380px;
    margin-bottom: 2%;
}    

.mobile{
    display: flex;
}  

.nv{
    font-size: 70%;
}  

.lineh{
    line-height: 17px;
}

.tarjetas{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-width: thin;
    margin-bottom: 5%;
    background-color: #ECF4F3;
}


.tarjetas2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-width: thin;
    margin-bottom: 5%;
    background-color: #F7EAFA;
}


.img-info-esp{
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.img-info{
    display: flex;
    align-items: center;
}

.navbar{
    grid-template-columns: 1fr 1fr 1fr;
}    

.div-heart{
    display: none;
}

.nv:hover{
    border-bottom: none;
}

.titles{
    display: flex;
    flex-direction: column;
   
}

.menu-btn{
    padding: 16px ;
    display: block;
    width: 50%;
    font-size: 130%;
} 

.me-33{
    margin-right: 0%;
    margin-bottom: 5%;
}

.mt-55{
    margin-top: 15%;
}

.mb-55{
    margin-bottom: 15%;
}

.navbar{
    padding: 6%;
    font-size: 150%;
}

.c{
    text-align: -webkit-center;
    margin-bottom: 5%;
}

.btn-pink{
    font-size: 130%;
}

.navbar-reseñas{
    display: none;
}

.container{
    margin: auto;
}

.mini-navbar{
  height: auto;
  grid-template-columns: 1fr 1fr;
}

.div-2{
    grid-template-columns: 1fr;
    text-align: center;
}

.sp{
    text-align: -webkit-center;
}

.galeria{
    font-size: 1rem;
}

.mini-heart{
    width: 12px; 
    height: 12px; 
}

.middle-logo{
    height: 140px;
    top: -70px;
}

.dd{
    display: none;
}

.galery{
    grid-template-columns: 1fr 1fr 1fr;
}

h5{
    font-size: initial;
}

.principal-title{
    font-size: 220%;
}


.subtitle-p{
    font-size: 100%;
    width: 80%;
}

.grid-info{
    display: none;
}

.carousel{
    display: inline;
}

.info{
    display: none;
}


.pastel-utencilios{
    height: 80%;
    width: 140%;
    top: -40%;
}


.card {
    width: 90%;
    height: auto;
    grid-template-columns: 1fr 4fr;
}

.card-grid{
    gap: 0;
    place-self: center;
    grid: none;
}

.espacio{
    grid-template-columns: 1fr;
}

.card-subtitle{
    font-size: 80%;
}

.woman{
    width: 50%;
}


.texto{
    font-size: 90%;
    margin-bottom: 1%;
}

.card-title{
    font-size: 120%;
}

.carousel2{
    display: none;
}

.carousel3{
    display: inline;
}

}


























@media (max-width: 480px){

.logo-1{
width: 300px;
}

.me-33{
    margin-top: 15%;
}    

.nv{
    font-weight: 600;
    font-size: 60%;
}

.middle-logo{
    height: 100px;
    top: -50px;
}

.menu-btn{
    padding: 14px;
    font-size: 100%;
}

.resena-title{
    font-size: 1.5rem;
}

.margin{
    margin-bottom: 8%;
}

.principal-title{
    font-size: 160%;
}    

.texto-2{
    font-size: 0.8rem;
}

.mini-logo{
    display: none;
}


.subtitle-p{
    font-size: 90%; 
    width: 90%;
}

.p-info{
    font-size: 70%;
}


.pastel-utencilios{
    width: 160%;
    top: -50%;
}

.btn-pink{
    margin-bottom: 7%;
}


.btn-pink:hover{
    color: #DB2E86;
    background-color: transparent;
}

.div-galery{
    grid-template-columns: 0.1fr 3fr 0.1fr;
}



}







@media only screen and (min-width: 550px) and (max-width: 769px ){

.card{
    width: 70%;
}
 
}












@media only screen and (min-width: 480px) and (max-width: 575px ){


.btn-pink-navbar{
    font-size: 100%;
    font-weight: 200;
    padding: 0;
    background: none;
    color: #DB2E86;
    justify-content: center;
}

.btn-pink:hover{
    background-color: transparent;
    color: #DB2E86;
}

.mini-logo{
    justify-content: center;
}

.creditos{
    font-size: 0.7rem;
}

}






@media (max-width: 319px){


.principal-title{
    font-size: 140%;
}

}
